<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <!-- <span data-feather="bar-chart-2"></span> -->
            <i class="fas fa-fw fa-chart-pie"></i>
            Dashboard 
          </a>
        </li>
        <% if(user.role==='Admin' || user.role==='Manager') { %>
        <li class="nav-item">
          <a class="nav-link" href="/manageUsers">
            <!-- <span data-feather="users"></span> -->
            <i class="fas fa-fw fa-user-check"></i>
            Manage Users
          </a>
        </li>
        <% } %>
        <% if (user.role==='Admin' || user.role==='Cashier') { %>
        <li class="nav-item">
          <a class="nav-link" href="/createBill">
            <!-- <span data-feather="shopping-cart"></span> -->
            <i class="fas fa-fw fa-wallet"></i>
            Generate bill
          </a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/patients">
            <!-- <span data-feather="users"></span> -->
            <i class="fas fa-fw fa-users"></i>
            Patient
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctors">
            <!-- <span data-feather="users"></span> -->
            <i class="fas fa-fw fa-user-md"></i>
            Doctors
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inventory">
            <!-- <span data-feather="file"></span> -->
            <i class="fas fa-fw fa-warehouse"></i>
            Inventory
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/invoiceHistory">
            <!-- <span data-feather="file"></span> -->
            <i class="fas fa-fw fa-file-invoice"></i>
            Invoice History
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/AllRequests">
            <!-- <span data-feather="file"></span> -->
            <i class="fas fa-fw fa-file-invoice"></i>
            Requests by patients
          </a>
        </li>
      </ul>
    </div>
  </nav>