<%- include('../partials/header'); -%>
<title>Home | VIT Pharmacy</title>

</head>

<body>
<%- include('../partials/navbar'); -%>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/patsidebar'); -%>
  </div>
</div>
</body>